
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1542857656611'); /* IE9*/
  src: url('./iconfont.eot?t=1542857656611#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1542857656611') format('woff'),
  url('./iconfont.ttf?t=1542857656611') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1542857656611#iconfont') format('svg'); /* iOS 4.1- */
}

/* :root {
  --size: 1.2em;
} */

[class*="tui-icon-"], .icon {
  font-family:"iconfont" !important;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="tui-icon-"]::before {
  font-size: 1.2em;
  line-height: 1;
  vertical-align: -1px;
}

.tui-icon {
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
  overflow: hidden;
  display: inline-block;
  vertical-align: -2px;
}



.tui-icon-arrow-down:before {
  content: "\e721";
}

.tui-icon-arrow-right:before {
  content: "\e722";
}

.tui-icon-arrow-up:before {
  content: "\e723";
}

.tui-icon-arrow-d-down:before {
  content: "\e724";
}

.tui-icon-arrow-d-up:before {
  content: "\e725";
}

.tui-icon-close:before {
  content: "\e726";
}

.tui-icon-bell:before {
  content: "\e727";
}

.tui-icon-arrow-left:before {
  content: "\e728";
}

.tui-icon-document:before {
  content: "\e729";
}

.tui-icon-collect-has:before {
  content: "\e72a";
}

.tui-icon-font-minus:before {
  content: "\e72b";
}

.tui-icon-fold-off:before {
  content: "\e72c";
}

.tui-icon-help:before {
  content: "\e72d";
}

.tui-icon-download:before {
  content: "\e72e";
}

.tui-icon-font-plus:before {
  content: "\e72f";
}

.tui-icon-eye-shut:before {
  content: "\e730";
}

.tui-icon-home:before {
  content: "\e731";
}

.tui-icon-delete:before {
  content: "\e732";
}

.tui-icon-eye:before {
  content: "\e733";
}

.tui-icon-calendar:before {
  content: "\e734";
}

.tui-icon-love-has:before {
  content: "\e735";
}

.tui-icon-collect-not:before {
  content: "\e736";
}

.tui-icon-message:before {
  content: "\e737";
}

.tui-icon-lock-on:before {
  content: "\e738";
}

.tui-icon-fullscreen-on:before {
  content: "\e739";
}

.tui-icon-gear:before {
  content: "\e73a";
}

.tui-icon-print:before {
  content: "\e73b";
}

.tui-icon-loading:before {
  content: "\e73c";
}

.tui-icon-status-unknown:before {
  content: "\e73d";
}

.tui-icon-images:before {
  content: "\e73e";
}

.tui-icon-phone:before {
  content: "\e73f";
}

.tui-icon-zoom-minus:before {
  content: "\e740";
}

.tui-icon-off:before {
  content: "\e741";
}

.tui-icon-reset:before {
  content: "\e742";
}

.tui-icon-minus:before {
  content: "\e743";
}

.tui-icon-enter:before {
  content: "\e744";
}

.tui-icon-status-success:before {
  content: "\e745";
}

.tui-icon-fold-on:before {
  content: "\e746";
}

.tui-icon-location:before {
  content: "\e747";
}

.tui-icon-timer:before {
  content: "\e748";
}

.tui-icon-status-info:before {
  content: "\e749";
}

.tui-icon-zoom-plus:before {
  content: "\e74a";
}

.tui-icon-fullscreen-off:before {
  content: "\e74b";
}

.tui-icon-security:before {
  content: "\e74c";
}

.tui-icon-tick:before {
  content: "\e74d";
}

.tui-icon-quit:before {
  content: "\e74e";
}

.tui-icon-list:before {
  content: "\e74f";
}

.tui-icon-user:before {
  content: "\e750";
}

.tui-icon-time:before {
  content: "\e751";
}

.tui-icon-upload:before {
  content: "\e752";
}

.tui-icon-love-not:before {
  content: "\e753";
}

.tui-icon-more:before {
  content: "\e754";
}

.tui-icon-plus:before {
  content: "\e755";
}

.tui-icon-lock-off:before {
  content: "\e756";
}

.tui-icon-search:before {
  content: "\e757";
}

.tui-icon-status-error:before {
  content: "\e758";
}

.tui-icon-status-warning:before {
  content: "\e759";
}

.tui-icon-billing:before {
  content: "\e75a";
}

.tui-icon-businesshall:before {
  content: "\e75b";
}

.tui-icon-assist:before {
  content: "\e75c";
}

.tui-icon-client:before {
  content: "\e75d";
}

.tui-icon-complaint:before {
  content: "\e75f";
}

.tui-icon-exp:before {
  content: "\e760";
}

.tui-icon-business:before {
  content: "\e761";
}

.tui-icon-data:before {
  content: "\e762";
}

.tui-icon-order-s:before {
  content: "\e763";
}

.tui-icon-resource:before {
  content: "\e764";
}

.tui-icon-order:before {
  content: "\e765";
}

.tui-icon-product:before {
  content: "\e766";
}

.tui-icon-customer:before {
  content: "\e767";
}

.tui-icon-inventory:before {
  content: "\e768";
}

.tui-icon-setting:before {
  content: "\e769";
}

.tui-icon-recommend:before {
  content: "\e76a";
}

.tui-icon-analysis:before {
  content: "\e75e";
}

.tui-icon-csms_link:before {
  content: "\e694";
}

.tui-icon-ipad:before {
  content: "\e695";
}
