
//  ------------------头部------------------
$HEADER_BACKGROUND_COLOR: white;
$HEADER_HEIGHT: .4rem;


//  ------------------Tab-------------------
$TAB_HEADER: $HEADER_HEIGHT;

// -------------------Body------------------
$BODY_BACKGROUND_COLOR: #f2f8ff;


//  ------------------menu------------------
$MENU_WIDTH: 1.4rem;
$MENU_BACKGROUND: #1f2c38;
$MENU_CHILDREN_BACKGROUND: #3e4954;
$MENU_FONT_COLOR: white;


//  ------------------form------------------
$FORM_ELEMENT_RADIUS: .03rem;

// button
$BTN_SIZE_SMALL: .24rem;
$BTN_SIZE_NORMAL: .32rem;
$BTN_SIZE_LARGE: .42rem;
